<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogLevel="Debug"
      internalLogFile="c:\temp\InternalLogFile.txt">

    <variable name='logDir' value='Logs' />
    <variable name='logInfo' value='InfoLogFile' />
    <variable name='logDebug' value='DebugLogFile' />
    <variable name='logTrace' value='TraceLogFile' />

    <targets>
      <target 
        name="InfoLogFile" 
        xsi:type="File" 
        fileName="${logDir}/${logInfo}.txt" 
        archiveFileName="${logDir}/${logInfo}_{#}.txt"
        archiveEvery="None"
        archiveNumbering="Rolling"
        maxArchiveFiles="2"
        enableArchiveFileCompression="false"
        concurrentWrites="true"
        archiveOldFileOnStartup="true"
      />
      <target 
        name="DebugLogFile" 
        xsi:type="File" 
        fileName="${logDir}/${logDebug}.txt" 
        archiveFileName="${logDir}/${logDebug}_{#}.txt"
        archiveEvery="None"
        archiveNumbering="Rolling"
        maxArchiveFiles="2"
        enableArchiveFileCompression="false"
        concurrentWrites="true"
        archiveOldFileOnStartup="true"
      />
      <target 
        name="TraceLogFile" 
        xsi:type="File" 
        fileName="${logDir}/${logTrace}.txt" 
        archiveFileName="${logDir}/${logTrace}_{#}.txt"
        archiveEvery="None"
        archiveNumbering="Rolling"
        maxArchiveFiles="2"
        enableArchiveFileCompression="false"
        concurrentWrites="true"
        archiveOldFileOnStartup="true"
      />
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="InfoLogFile" />
      <logger name="*" minlevel="Debug" writeTo="DebugLogFile" />
      <logger name="*" minlevel="Trace" writeTo="TraceLogFile" />
    </rules>
</nlog>